/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
html {
	font-size: 9px;
}
body {
	padding-top: 0;
	padding-bottom: 0; 
}
h1 {
	font-family: "NovaRegular";
	font-size: 4.5rem;
}
h2 {
	font-family: "NovaLight";
	font-size: 4.5rem;
}
h3 {
	font-family: "NovaLight";
	font-size: 3rem;
}
.texto {
	color: #606060;
	font-family: "NovaRegular";
	font-size: 1.8rem;
	line-height: 150%;
}
.recuadro {
	color: #606060;
	font-family: "NovaRegular";
	font-size: 14px;
	/*1.4rem*/
	text-align: center;
	line-height: 150%;
}
.quote {
	color: #606060;
	font-family: "NovaLight";
	font-size: 2.4rem;
	line-height: 150%;
}

.marco {
	padding: 5% 0;
	margin: auto;
	width: 90%;
	text-align: center;
}
.marcoesp {
	width: auto;
	text-align: center;
	margin: auto;
}
.formulario {
	width: 90%; 
	margin: auto;
}
input {
	width: 100%;
	font-size: 2.4rem;
	padding: 10px 0;
	margin: 4% 0;
}
.send {
	background-color: #179AD6;
	border: none;
	color: white;
}


@media (min-width: 768px) {
	html {
		font-size: 10px;
	}
	.marco {
		width: 70%;
	}
	.marcoesp {
		width: 70%;
	}
	h1 {
		font-size: 5rem;
	}
	/*Home*/
	.logo {
		padding: 10% 20% 2%;
	}
	.marco h3 {
		margin: 0 5%;
	}
	
	/*Persona*/
     .persona .texto {
   		text-align: justify;
   		margin: 3% 0;
    }
    /*Home*/
    .contactanos {
		background-image: url(../img/background-contact-us.jpg);
	}
    .formulario {
    	width: 50%;
    	color: white
    }
    input {
		width: 90%;
		font-size: 2.4rem;
		padding: 8px 0;
		margin: 2% 0;
	}
    .send {
		width: 55%;
		border-radius: 5%;
		padding: 6px 0;
		font-size: 2rem;
	}

}
@media (min-width: 992px) {
  .marco {
		width: 65%;
	}
	.secciones {
		margin-bottom: 15%;
	}
	.formulario {
		width: 35%;
	}	
}

@media (min-width: 1200px) {

}