@font-face{
	font-family: NovaBold;
	src: url(../fonts/proximanova/proximanova-bold-webfont.ttf);
}
@font-face{
	font-family: NovaLight;
	src: url(../fonts/proximanova/proximanova-light-webfont.ttf);
}
@font-face{
	font-family: NovaRegitalic;
	src: url(../fonts/proximanova/proximanova-regitalic-webfont.ttf);
}
@font-face{
	font-family: NovaRegular;
	src: url(../fonts/proximanova/proximanova-regular-webfont.ttf);
}
@font-face{
	font-family: NovaSemibold;
	src: url(../fonts/proximanova/Proximanova-Semibold.otf);
}

/* Shortcuts */

.pd-0{
	padding: 0;
}
.pd-lr-0 {
	padding-right: 0;
	padding-left: 0;
}
.pt-5{
	padding-top: 5%;
}
.pb-5{
	padding-bottom: 5%;
}

.pd-5-10 {
	padding: 5% 10%;
}
.ptb-5 {
	padding: 5% 0;
}
.plr-5 {
	padding: 0 5%;
}
.plr-0 {
	padding-right: 0;
	padding-left: 0;
}
.mg-0{
	margin: 0;
}
.mg-0-5 {
	margin-right: 5%;
	margin-left: 5%;
}
.mg-5-0 {
	margin-top: 5%;
	margin-bottom: 5%;
}
.mg-a {
	margin: auto;
}
.w-100{
	width: 100%;
}
.lh-a {
	line-height: 100%;
}
.lh{
	line-height: 150%;
}
.a-none-decoration{
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
/*.text-justify {
	text-align: justify;
}*/
.text-white{
	color: #FFFFFF;
}
.text-gray{
	color: #606060;
}
.text-lgray{
	color: #979797;
}
.text-blue{
 color: #002366;
}
.text-lblue {
	color: #179AD6;
}
.bg-blue {
	background-color: #002366;
}
.bg-lblue{
	background-color: #179AD6;
}
.bg-lgray {
	background-color: rgba(246, 246, 246, 0.6)
}
.bg-transparent {
	background-color: transparent;
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.x-small {
	font-size: 10px;
}
.small {
	font-size: 14px;
}
.medium {
	font-size: 18px;
}
.x-medium {
	font-size: 24px;
}
.large {
	font-size: 30px;
}
.x-large {
	font-size: 45px;
}
.xx-large {
	font-size: 50px;
}


.equal-height {
	display: flex;
	overflow: hidden;
	}

.equal-height-col {
	flex: 1;
}
.justify-content {
	display: flex;
	justify-content: space-around;
}